{{ define "main" }}
  <content>
    {{ .Content }}
    
    {{ $posts := where site.RegularPages "Type" "posts" }}
    {{ if $posts }}
      <h2>Recent Posts</h2>
      <ul class="blog-posts">
        {{ range first 10 $posts }}
          <li>
            <span>
              <i>
                <time datetime="{{ .Date.Format "2006-01-02" }}" pubdate>
                  {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
                </time>
              </i>
            </span>
            {{ if .Params.link }}
              <a href="{{ .Params.link }}" target="_blank">{{ .Title }} ↪</a>
            {{ else }}
              <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{ end }}
          </li>
        {{ end }}
      </ul>
      
      {{ if gt (len $posts) 10 }}
        <p><a href="/posts/">View all posts →</a></p>
      {{ end }}
    {{ else }}
      <p>No posts yet. <a href="/posts/">Check back soon!</a></p>
    {{ end }}
  </content>
{{ end }}
